*{

margin:0;
padding: 0;
box-sizing: border-box;
background: linear-gradient(to right, #11e68d, #73f805);

}
.logo{

    height: 20%;
    width: 30%;
    display: flex;
    align-items: center;
    align-content: center;
   

}